<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet"  href="../../css/main.css">
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Melomano</title>
</head>
<body class="background">
    <div class="banner">
        <nav class="navbar navbar-light">
            <div class="container-fluid">

                <img src="../../images/Melomano.png" class="title"></h1>
            
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button type="button" class="btn btn-outline-light" id="boton-login">Login</button>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="/register" role="button">Registro</a>
                </li>
            </ul>
        </div></nav>
    </div>
    <br><br><br>

    <main class="container">
    {{{body}}}
    </main>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../../../../index.js"></script>
</html>