<ul class="nav nav-pills nav-fill bg-dark">
   <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard" style="color: rgb(235, 230, 240); border-color:blueviolet;" id="inicio">Inicio</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/admin/pSong" style="color: rgb(235, 230, 240); border-color:blueviolet " id="canciones">Subir Canciones</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" href="/admin/allSongs" style="color: rgb(235, 230, 240); border-color:blueviolet " id="playlists">Mostrar Canciones</a>
   </li>
</ul>

<script src="../../js/user.js"></script>