 <link rel="stylesheet" href="../../css/users.css"/>
 
 <div class="container" id="player" style="width:100vw"> <abbr class="d-flex justify-content-center" id='nowPlaying'> Now Playing...</abbr><div class="d-flex justify-content-center" id="lasong">{{cancion}}</div>
    <audio class="d-flex justify-content-center"  style="width: 95vw;" id="panel" controls>
          <source src="../../Canciones/{{laCancion}}" type="audio/mp3" id="rep">
    </audio>
</div>

<script>
//trabajo el sessionStorage como un buffer o cache para que no se cambie la cancion al cambiar de vista
    cancionActual();
    function cancionActual(){
  var cancion = document.getElementById('lasong');
  var contenido = cancion.innerHTML;
  var rep = document.getElementById('rep');
  var ext = '.mp3';
  var arch;
  var ls;
  if(contenido === ''){
      console.log('vacio pa');
      cancion.innerHTML = sessionStorage.getItem('cancion');
      arch = sessionStorage.getItem('cancion').concat(ext);
      rep.setAttribute('src', `../../Canciones/${arch}`);

      console.log(arch);
  }else{
      console.log("playing-> ", contenido);
        sessionStorage.setItem('cancion', contenido);
  }

}
</script>