<div class="jumbotron mt-4">
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" id="input-username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="input-pass">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirme su contraseña</label>
            <input type="password" class="form-control" id="input-pass2">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>