<link rel="stylesheet" href="../../css/users.css"

<!-- muestra los errores-->
{{#each errors}}
    <div class="d-flex alert alert-danger alert-dismissible fade show justify-content-center align-items-center" role="alert">
        <strong>{{text}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{{/each}}

    <div class="jumbotron mt-4 align-items-center " id="jumboRegister">

        <div class="d-flex justify-content-center">
            <h2>Regístrate en Melomano</h2>
        </div>

        <div class="container">

            <form action="/register" method="POST">
            <h5>Ingrese un nombre de usuario</h5>
                <div class="form-group">
                    <input type="text" name='username' class="form-control" placeholder="Nombre de usuario" autofocus>
                </div>
            <h5>Ingrese una contraseña</h5>
                <div class="form-group">
                    <input type="password" name='password' class="form-control" placeholder="Contraseña">
                </div>
            <h5>Confirme su contraseña</h5>
                <div class="form-group">
                    <input type="password" name='passwordConf' class="form-control" placeholder="Confirme su contraseña">
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault1" value="admin">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Cuenta de administrador (explora y sube música)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault2" value="estandar" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Cuenta estandar (explora y crea tus playlists)
                    </label>
                </div>
                
                   <br>
                <div class="d-flex form-group justify-content-center">
                    <button class="btn btn-outline-primary" type="submit">Registrarse</button>
                </div>

        </form>

    </div>
</div>

