
<!-- Formulario para ingreso de la cancion -->
<div class="jumbotron mt-4 align-items-center " id="jumboLogin">

        <div class="d-flex justify-content-center">
            <h2>Agregar una Cancion</h2>
        </div>

        <div class="container">

            <form action="/admin/pSong" method="POST">
                <h5>Ingrese el nombre de la cancion</h5>
                    <div class="form-group">
                       <input type="text" name='name' class="form-control" placeholder="Nombre de la cancion en la carpeta" autofocus><abbr>La extension por default es .mp3, solo ingrese el nombre, la extension se agrega automaticamente</abbr>
                    </div>
                <h5>Ingrese el autor</h5>
                    <div class="form-group">
                        <input type="text" name='author' class="form-control" placeholder="Autor">
                    </div>
                <h5>Ingrese el genero</h5>
                    <div class="form-group">
                        <input type="text" name='gender' class="form-control" placeholder="Genero Ej. Rock, Pop">
                    </div>
                <h5>Ingrese el album</h5>
                    <div class="form-group">
                        <input type="text" name='album' class="form-control" placeholder="Nombre del album">
                    </div>
                    <h5>Uploader</h5>
                    <div class="form-group">
                        <input type="text" name='uploader' class="form-control" placeholder="uploader" id="up" readonly>
                    </div>
                    <br>
                    <div class="d-flex form-group justify-content-center">
                        <button class="btn btn-outline-primary" type="submit">Guardar Cancion</button>
                    </div>

            </form>

        </div>
</div>

<script src="../../js/user.js"></script>