<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="stylesheet"  href="../css/main.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BigMusic</title>
</head>
<body background="../images/Back2.png" class="background">
    <div class="banner">
        <img src="../images/Melomano.png" class="title"></h1>
    </div>
    <div id="esta">Esta ve</div>
</body>
</html>